﻿<div class="layout-field form-group">
    <label for="@Html.IdForModel()">@Html.DisplayNameForModel()</label>
    @RenderBody()
    @if (ViewData.ModelMetadata.Description != null)
    {<small class="form-text text-muted">@ViewData.ModelMetadata.Description</small>}
    @Html.ValidationMessage("")
</div>