﻿@model Confirm
@{
    ViewData["_Title"] = "Enter the login code we sent you";
}


<p>
    We sent a login code to @Model.Email. Enter the code below to finish logging in.
</p>

<form method="post">
    @Html.ValidationSummary()
    @Html.EditorFor(m => m.Email)
    @Html.EditorFor(m => m.Hash)
    @Html.EditorFor(m => m.Code)
    <button class="btn btn-primary" type="submit">Login</button>
    <a class="btn btn-primary" asp-action="Login" asp-route-email="@Model.Email">Request a new login code</a>
</form>