﻿@model Login
@{
    ViewData["_Title"] = "Login";
}

<form method="post">
    @Html.ValidationSummary()
    @Html.EditorFor(m => m.Email)
    <button class="btn btn-primary" type="submit">Send Me a Login Code</button>
</form>